.App {
  background-color: #222222;
  min-height: 100vh;
  color: #D6E4E5;
  padding-right: 10px;
  font-family: 'Poppins', sans-serif;
}

.nav {
  position: fixed;
  width: 100%;
  padding: 30px 30px 15px 30px;
}

.nav.active {
  backdrop-filter: blur(8px);
  z-index: 100;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 00.15);
}


.linknum {
  color: #03C988;
  padding-right: 5px;
}

.linktext {
  color: #D6E4E5;
}

.nav-bottom {
  bottom: 0;
  padding-bottom: 230px;
  padding-right: 0px;
}

.email-right {
  justify-content: end;
}

.email-right p {
  font-weight: 400;
  padding-right: 0px;
  padding-bottom: 80px;
  transform: rotate(90deg);
}

.email-right p:hover {
  color: white;

}

.line-vert {
  border-left: 3px solid #03C988;
  height: 140px;
  position: fixed;
  bottom: 0;
  right: 102px;
}

.button-resume {
  background-color: transparent;
  border: 2px solid white;
  color: #03C988;
  padding: 10px 20px 10px 20px;
  transition: transform .2s;
}

.button-resume:hover {
  color: white;
  transform: scale(1.1);
  border: 2px solid #03C988;
  background-color: #03C988;
  box-shadow: 0 0 5px #03C988;
  text-shadow: 0 0 5px #03C988;
}

.resume-about {
  margin-top: 20px;
  margin-right: 20px;
}

.button-trans {
  transition: transform .2s;
  color: #EB6440;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
}

.button-trans:hover {
  color: white;
  transform: scale(1.1);
  border: 2px solid #EB6440;
  background-color: #EB6440;
  box-shadow: 0 0 5px #EB6440;
  text-shadow: 0 0 5px #EB6440;
}

.button-git {
  background-color: transparent;
  transition: transform .2s;
  color: white;
  border: none;
  padding-left: 10px;
}

.git-text {
  padding-left: 10px;
}

.button-git:hover {
  transform: scale(1.2);
  color: #1c1d1f;
  border: 2px solid white;
  background-color: white;
  box-shadow: 0 0 5px white;
  text-shadow: 0 0 5px white;
}

.about {
  padding: 300px;
  text-align: left;
}



/*-------- about ----------*/
#head-about {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

#head-name {
  font-size: 60px;
  font-weight: 600;
}

/*-------- education ----------*/

.edu-head {
  font-size: 60px;
  font-weight: 600;
  position: relative;
}

.text-with-line {
  display: flex;
}

.line {
  border: 1px solid grey;
  flex-grow: 1;
  height: 3px;
  background-color: aliceblue;
  margin: 40px 400px 0px 35px;
}

.line-exp {
  margin: 40px 0px 0px 35px;
}

.education {
  padding-left: 400px
}

.timeline-line {
  position: relative;
  margin-top: 50px;
  margin-left: 20px;
}

.timeline-line::before {
  content: '';
  position: absolute;
  height: 119px;
  top: 50px;
  left: -2px;
  border: 2px solid #03C988;
}

.timeline-item,
.timeline-item-dot {
  padding-left: 50px;
  margin-bottom: 50px;
}

.timeline-item::after,
.timeline-item-dot::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: -10px;
  background-color: #03C988;
  border: 4px solid #03C988;
  border-radius: 50%;

}

.timeline-item::after {
  top: 20px;
}

.timeline-item-dot::after {
  top: 180px;
}

/*---------- tabs skill ------------*/
.react-tabs {
  padding-top: 20px;
  display: flex;
  margin-left: 36px;
  width: 470px;
  height: 400px;
  color: white;

}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin: 0;
  padding: 0;
  color: white;

}

.react-tabs__tab {
  height: 70px;
  list-style: none;
  padding: 12px 6px;
  cursor: pointer;
  color: #bbb;
  border-left: 4px solid #bbb;
}

.react-tabs__tab--selected {
  border-color: none;
  border-left: 4px solid #1C6758;
  color: white;
}

.react-tabs__tab-panel {
  display: none;
  width: 300px;
  padding-left: 30px;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab {
  padding-left: 24px;
}

.react-tabs__tab--selected {
  padding-left: 21px;
}

.panel-content {
  text-align: left;
}

.panel-content h5 {
  padding-top: 10px;
}


/*-------- experience ----------*/
.exper {
  padding: 200px 350px 100px 350px;
}

.each-row {
  padding-top: 50px;
}

.box-project-right {
  text-align: end;
  width: 600px;
  margin-right: 0;
  margin-left: auto;
}

.box-project-left {
  width: 600px;
}

.card-project {
  background-color: #3D8361;
  padding: 30px;
}

.img-left {
  float: right;
}

.img-right {
  float: left;
}

.img-left,
.img-right {
  width: 500px;
  transition: transform .2s;
}

.img-left:hover,
.img-right:hover {
  opacity: 1;
  transform: scale(1.2);
}

p.title-pro {
  font-size: 30px;
  font-weight: 600;
}